html,body{
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

h1,header, div, table{
    margin: 0;
    padding: 0;
}

.menu-admin{
    height: 100% !important;
}

a{
    text-decoration: none;
    color: black;
}
/* body{
    background-color: aqua;
} */

